<div class="container">
  <header class="row">Header</header>
  <nav class="row">
    <nav class="nav justify-content-center">
      <a class="nav-link active" [routerLink]="['/product-list']" routerLinkActive="router-link-active">Product List</a>
      <a class="nav-link" [routerLink]="['/product-detail']">Product Detail</a>
      <a class="nav-link" [routerLink]="['/admin']">Admin Dashboard</a>
      <a class="nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-link" [routerLink]="['/product-add']">Add Product</a>
      <a class="nav-link" [routerLink]="['/category-list']">List Category</a>
    </nav>
  </nav>
  <section class="row">
    <div class="col">
      <router-outlet></router-outlet>
      <app-shared></app-shared>
    </div>
  </section>
</div>