<div class="row">
    <div class="col-6 offset-3">
        <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="card">
                <div class="card-header">
                    <h1>Login to system</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" ngModel id="email" name="email" aria-describedby="emailHid" placeholder="Email"  required minlength="6" #email="ngModel">
                        <small id="emailHid" *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="form-text text-muted">Email is invalid or empty</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" ngModel id="password" name="password" aria-describedby="passwordHid" placeholder="Password" required minlength="6" #password="ngModel">
                        <small id="passwordHid" *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-text text-muted">Password is invalid or empty</small>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary">Login</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>